.variable{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

div.row {
  display: flex;
  flex-direction: row;
}

.label, .value{
  padding: 2pt;
}

.value input{
  width: 2em;
}

.namedblock > h1{
  font-size: 160%;
}
.namedblock > .namedblock > h1{
  font-size: 120%;
}
/* .namedblock > .namedblock > .namedblock > h1{
  font-size: 120%;
} */

div.table1{
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(1, auto);
}

div.table2{
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(2, auto);
}

div.table3{
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(3, auto);
}

div.table4{
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(4, auto);
}

div.table5{
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(5, auto);
}

div.table6{
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(6, auto);
}

div.table7{
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(7, auto);
}

div.table8{
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(8, auto);
}

